
.home {
    margin-bottom: 20px;
}
a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.timer {
    font-size: small;
}
.image img {
    cursor: pointer;
}
.engines {
    margin-top: 20px;
    margin-bottom: 20px;
}
.engines a {
    text-transform: uppercase;
    text-decoration: none;
}
.engines a:link {
    content: "> " string " <";
}